{% extends 'main.html.twig' %}



{% block body %}
<div class="container mt-5 w-50">
    <title>Edit User</title>
    <table class="table gestion_user">

    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
    </table>
</div> 
{% endblock %}
