 
#main-nav{
    margin-top: 10% !important;
}
#main-table{ 
    width: 600px !important;
    margin: 0 auto;
}
 
#btn-py  {
    width: 300px !important; 

}

#btn-py:hover  {
    background-color: gold;
    color: #333;
    border: 1px solid goldenrod;

}